*.opendb
Tamagotchi_Game/x64/Debug/GameLogic.obj
*.obj
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.exe
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.exe.recipe
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.ilk
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.log
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.pdb
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.tlog/CL.command.1.tlog
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.tlog/CL.read.1.tlog
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.tlog/CL.write.1.tlog
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.tlog/link.command.1.tlog
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.tlog/link.read.1.tlog
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.tlog/link.write.1.tlog
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.tlog/Tamagotchi_Game.lastbuildstate
Tamagotchi_Game/x64/Debug/Tamagotchi_Game.vcxproj.FileListAbsolute.txt
Tamagotchi_Game/x64/Debug/vc142.idb
Tamagotchi_Game/x64/Debug/vc142.pdb
